@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
*{
    margin: 0;
    font-family: 'Vollkorn', serif;
}
/* ぼたん */
/* 削除ボタン */
.button {
    position: relative;
    border: 2px solid #111;
    width: 100px;
    height: 40px;
    color: red;
    /* border-bottom:solid 1px red; */
  }
  .button:hover {
    color: #666;
  }
  /* 編集ボタン */
.text-success{
    margin-right: 10px;
  width: 100px;
  height: 36px;
  border: 2px solid #111;
 display: flex;
 justify-content: center;
 align-items: center;
}
/* headeer */

header{
    height:100px;
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.wrapper{
    margin-left: 50px;
    font-family: Hannari;
}
.wrapper  a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 20%;
}
.wrapper a:hover{
    opacity: 0.5;
    background-color: black;
}
.create{
    margin-right: 100px;
}

/* content */

.content{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
    width: 85%;
}
.contents-box{
    display: flex;
}
.content-title{
font-size: 2em;
}
.content-text{
    font-size: 1.5em;
}
.delete{
    margin: 3px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* right: 5px; */
    /* top:5px; */
}
.delete del{
    margin-right: 10px;
}


/* footer */
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    color: rgb(202, 202, 202);
}
