
*{
    margin: 0;
}
header{
    height:100px;
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.wrapper{
    margin-left: 50px;
}
.create{
    margin-right: 100px;
}
/* content */

.content{
    border: solid 3px rgb(190, 190, 190);
    margin: 10px 5px;
}
.content-title{
font-size: 2em;
}
.content-text{
    font-size: 1.5em;
}